<app-layout>
    <div class="background-image">
      <div class="form-container">
        <fieldset>
          <legend>SIGN UP</legend>
          <div class="mb-3 text-center"> 
            <label for="emailInput" class="form-label2">Email</label><br>
            <input type="email" class="form-control2" id="emailInput">
          </div>
          <div class="mb-3 text-center"> 
            <label for="fullNameInput" class="form-label2">Full Name</label><br>
            <input type="email" class="form-control2" id="fullNameInput">
          </div>
          <div class="mb-3 text-center"> 
            <label for="phoneInput" class="form-label2">Phone</label><br>
            <input type="email" class="form-control2" id="phoneInput">
          </div>
          <div class="mb-3 text-center"> 
            <label for="addressInput" class="form-label2">Address</label><br>
            <input type="email" class="form-control2" id="addressInput">
          </div> 
          <div class="mb-3 text-center"> 
            <label for="usernameInput" class="form-label2">Username</label><br>
            <input type="email" class="form-control2" id="usernameInput">
          </div>    
          <div class="mb-3 text-center"> 
            <label for="passwordInput" class="form-label2">Password</label><br>
            <input type="password" class="form-control2" id="passwordInput">
          </div>
          <button type="submit" class="btn btn-click">SIGN UP</button>
          <div class="form-text text">
            Already have an account ?  
            <a href="register" class="link-underline-primary register">Login</a>
          </div>
        </fieldset>
      </div>
    </div>
  </app-layout>
  