<footer>
    <div class="footer-container">
      <div class="footer-part">
        <h3>Our Information</h3>
        <p><img src="assets/location.png">Belezza</p>
        <p class="two">983, Union Place,</p>
        <p class="two">Colombo</p>
        <p><img src="assets/email.png"> belezzagmail.com</p>
        <p><img src="assets/phone.png"> 0123456789</p>
      </div>
  
      <div class="footer-part">
        <h3>Quick Links</h3>
        <p><img src="assets/arrow.png"> <a href="#">Search</a></p>
        <p><img src="assets/arrow.png"> <a href="#">Collection</a></p>
        <p><img src="assets/arrow.png"> <a href="#">About Us</a></p>
        <p><img src="assets/arrow.png"> <a href="#">Contact</a></p>
      </div>
  
      <div class="footer-part">
        <h3>Services</h3>
        <p><img src="assets/arrow.png"> Privacy Policy</p>
        <p><img src="assets/arrow.png"> Free Shipping</p>
        <p><img src="assets/arrow.png"> Cash On Delivery</p>
        <p><img src="assets/arrow.png"> Customer Service</p>
      </div>
  
      <div class="footer-part">
        <h3> Get the Latest Fashion !</h3>
        <p>Sign in for exclusive updates and personalized styles.</p>
        <button>Sign In</button>
      </div>
    </div>
  </footer>
  
  <footer class="copyright-footer">
    <p>2023, Bellezza - All Rights Reserved.</p>
  </footer>
  