<app-layoutuser>
    <div class="image-container">
        <img src="assets/home.png" class="d-block w-100">
        <div class="image-text">
            <p class="bg-text">Find Your Style,<br> Be Yourself</p>
            <button class="black-button">Shop Now</button>
        </div>
    </div>
    <div class="list-container">
      <div class="list-text">
        <img src="assets/icon1.png">
        <div class="text-content">
          <label><b>Free Shipping</b></label><br>
          <p>Shipping's on us!</p>
        </div>
      </div>
      <div class="list-text">
        <img src="assets/icon2.png">
        <div class="text-content">
          <label><b>Cash On Delivery</b></label><br>
          <p>Pay on delivery.</p>
        </div>
      </div>
      <div class="list-text">
        <img src="assets/icon3.png">
        <div class="text-content">
          <label><b>Customer Service</b></label><br>
          <p>We're here for you.</p>
        </div>
      </div>
      <div class="list-text">
        <img src="assets/icon4.png">
        <div class="text-content">
          <label><b>Best Quality</b></label><br>
          <p>Quality guaranteed.</p>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="left-form">
          <div class="form-heading">Do You Have Any Questions?</div>
      
          <div class="form-row">
            <div class="col">
            <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="col">
            <input type="text" id="phone" name="phone" placeholder="Phone">
            </div>
          </div>
      
          <div class="form-row">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
      
          <div class="form-row">
            <textarea id="message" name="message" placeholder="Message"></textarea>
          </div>
      
          <div class="form-row">
            <button class="button1">Submit</button>
          </div>
        </div>
      
        <div class="right-form">
          <div class="form-heading">Connect With Us!</div>
      
          <div class="right-form-text">
            <p><img src="assets/icon5.png"><b>Address :</b></p>
            <p class="two">Belezza</p>
            <p class="two">983, Union Place,</p>
            <p class="two">Colombo</p><br>

            <p><img src="assets/icon6.png"><b>Email :</b></p>
            <p class="two">belezza@gmail.com</p><br>

            <p><img src="assets/icon7.png"><b>Phone :</b></p>
            <p class="two">0123456789</p><br>

            <p><img src="assets/icon8.png"><b>Store Info :</b></p>
            <p class="two">0123456789</p>
          </div>
        </div>
      </div>
      
</app-layoutuser>

