<!-- usercollection.component.html -->

<app-layoutuser>
  <body>
  <div class="container">
    <div *ngFor="let product of userCollectionProducts" class="card">
      <img [src]="product.photo_url" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.sizes }}</p>
        <p class="card-text">Price: Rs: {{ product.price }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary float-left" (click)="addToCart(product)">Add to Cart</button>
        <button class="btn btn-primary float-right" (click)="orderProduct(product)">Order</button>
      </div>
    </div>
  </div>
  </body>
</app-layoutuser>
