.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    margin:-10px;
    height: 60px;
  }
  .black-button{
    background-color: #fff;
              color: #000000;
              border-color: #000000;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              cursor: pointer;
    
              &:hover {
                  background-color: #3742FA;
                  color: #fff;
                  border: none;
              }
  }
  .navbar-logo {
    .logo-image {
      max-width: 100px;
      max-height: auto;
      width: auto;
      height: auto;
    }
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
    margin: 0;
  }
  
  .navbar-links a {
    font-size: 1.1rem;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin: 0;
  }
  
  .navbar-login {
    background-color: #ffffff;
    color: #86817d;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
  }


.navbar-icons {
    display: flex;
    gap: 30px; 
    margin-right: 20px;
}

.user-container {
  cursor: pointer;
  position: relative;

  img {
    margin-right: 10px;
  }

  .logout-btn {
    background-color: #dad0d0;
              color: #000000;
              border:none;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              cursor: pointer;
  }

  &:hover .logout-btn {
    display: block;
  }
}

.btn-yes {
justify-content: left;
width: 40%;
padding: 5px;
margin: 10px;
}
.btn-no{
justify-content: right;
width: 40%;
padding: 5px;
margin: 10px;
}


.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
