<header class="navbar">
    <div class="navbar-logo">
        <img src="assets/logo.png" alt="Belezza">
    </div>
    <nav class="navbar-links">
        <a [class.selected]="selectedTab === 'userhome'" (click)="selectTab('userhome')" href="userhome">Home</a>
        <a [class.selected]="selectedTab === 'usercollection'" (click)="selectTab('usercollection')" href="usercollection">Collection</a>
        <a [class.selected]="selectedTab === 'order'" (click)="selectTab('order')" href="order">Orders</a>
        <a [class.selected]="selectedTab === 'userabout'" (click)="selectTab('userabout')" href="userabout">About Us</a>
        <a [class.selected]="selectedTab === 'usercontact'" (click)="selectTab('usercontact')" href="usercontact">Contact</a>
    </nav>
    <div class="navbar-icons">
        <a href="cart"><img src="assets/cart.png" alt="Cart" ></a>
      


        <div class="user-container" (click)="toggleLogoutButton()">
            <img src="assets/user.png" alt="User">
            <div *ngIf="showLogoutButton" class="dropdown">
              <button class="dropdown-btn" (click)="confirmLogout()">Logout</button>
              <button class="dropdown-btn" (click)="editProfile()">Edit Profile</button>
            </div>
          </div>
        </div>
        <div *ngIf="showConfirmation" class="confirmation-modal">
          <p>Are you sure you want to logout?</p>
          <button class="btn btn-yes" (click)="confirmLogout()">Yes</button>
          <button class="btn btn-no" (click)="cancelConfirmation()">No</button>
        </div>
      </header>