<header class="navbar">
    <div class="navbar-logo">
      <img src="assets/logo.png" alt="Belezza">
    </div>
    <nav class="navbar-links">
      <a [class.selected]="selectedTab === 'home'" (click)="selectTab('home')" href="sellerhome">Home</a>
      <a [class.selected]="selectedTab === 'collection'" (click)="selectTab('collection')" href="sellercollection">Collection</a>
      <a [class.selected]="selectedTab === 'order'" (click)="selectTab('order')" href="sellerorders">Orders</a>
      <a [class.selected]="selectedTab === 'customer'" (click)="selectTab('customer')" href="sellercustomers">Customers</a>
      <a [class.selected]="selectedTab === 'category'" (click)="selectTab('category')" href="sellercategories">Categories</a>
    </nav>
    <div class="user-container" (click)="toggleLogoutButton()">
      <img src="assets/user.png" alt="User">
      <button *ngIf="showLogoutButton" class="logout-btn" (click)="toggleConfirmation()">Logout</button>
    </div>

    <div *ngIf="showConfirmation" class="confirmation-modal">
      <p>Are you sure you want to logout?</p>
      <button class="btn btn-yes" (click)="confirmLogout()">Yes</button>
      <button class="btn btn-no" (click)="cancelConfirmation()">No</button>
    </div>
</header>
