<app-layout>
  <div class="background-image">
    <div class="form-container">
      <fieldset>
        <legend>LOGIN</legend>
        <div class="mb-3 text-center"> 
          <label for="exampleFormControlInput1" class="form-label2">Username / Email</label><br>
          <input type="email" class="form-control2" id="exampleFormControlInput1">
        </div>
        <div class="mb-3 text-center"> 
          <label for="exampleInputPassword1" class="form-label2">Password</label><br>
          <input type="password" class="form-control2" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-click">LOGIN</button>
        <div class="form-text text">
          Don’t have an account? 
          <a href="register" class="link-underline-primary register"> Sign Up</a>
        </div>
      </fieldset>
    </div>
  </div>
</app-layout>
