.image-container {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: -10px; 
  }
  
  .image-text {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 70%;
    text-align: left;
    margin: 0 auto;
  
    .bg-text {
        font-size: 40px;
    }
  
    .black-button {
        background-color: #2D3436;
        color: #fff;
        padding: 0.7rem 2rem;
        border-radius: 0.25rem;
        cursor: pointer;
        border: none;
        font-size: 1rem;
  
        &:hover {
            background-color: #3742FA;
            color: #fff;
            border-radius: 0.25rem;
            Padding: 0.7rem 2rem;
            border: none;
        }
    }
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  .list-container {
    display: flex; 
    align-content: center;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .list-text {
    flex-basis: calc(250% - 1rem); 
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-right: 80px;
    margin-top: 20px;
    align-items: center;
    display: flex;
  }
  .list-text img {
    margin-right: 10px; 
  }
  
  .text-content {
    flex-grow: 1; 
  }

  h2,h3{
    margin-left: 50px;
  }
  .test{
    margin-left: 50px;
    margin-right: 50px;
  }
  .tests{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }