<app-layoutseller>
    <body>
        <div class="dashboard">
            <div class="dashboard-card" (click)="navigateToSellerCustomers()">
              <h2 class="card-title">Customers</h2>
              <p class="card-count">120</p>
            </div>
            <div class="dashboard-card" (click)="navigateToSellerOrders()">
              <h2 class="card-title">Orders</h2>
              <p class="card-count">75</p>
            </div>
            <div class="dashboard-card" (click)="navigateToSellerCollection()">
              <h2 class="card-title">Collection</h2>
              <p class="card-count">50</p>
            </div>
            <div class="dashboard-card" (click)="navigateToSellerCategories()">
              <h2 class="card-title">Categories</h2>
              <p class="card-count">90</p>
            </div>
          </div>
</body>
</app-layoutseller>